<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=" " href="css/flex.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap" rel="stylesheet">
    <title>Flex</title>
  
</head>
<body>
    <header id="header">
        
        
        <div id="nav-bar" class="links" >
           <div id="header-img">
               
                 <a href="http://localhost:8080" ><p class="invatation">MEET ME AT THE CROSS</p></a>
            <div id="menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
           </div>
           <div id="display" class="flex" > <!--its becuase of this the nav is in block on full view-->
            <div class="hove" ><a href="http://localhost:8080/studies" target="_blank" rel="noopener noreferrer" class="nav-link">Bible Studies</a> </div>
            <div class="hove"  ><a href="#feat"  rel="noopener noreferrer" class="nav-link">Prayer</a> </div>
            <div class="hove" ><a href="http://localhost:8080/videos" target="_blank" rel="noopener noreferrer" class="nav-link">Videos</a> </div>
            <div class="hove" id="children" ><a href="http://" target="_blank" rel="noopener noreferrer" class="nav-link">Children Resorces</a> </div>
            <div ><button class="call-to-action-nav" type="submit">Sign up!</button> </div>
        </div>
        </div>