<%- include('partials/header')%>
    
</header>
    <div class="cross">
        <img src="css/jordan-mcqueen-956I1peiMi4-unsplash.jpg" alt="" srcset="">
    </div>
    
    <h1>MEET ME AT THE CROSS!</h1>
    <div class="bible-verse">
        <p id="bible-caption">Joh 12:32  And I, if I be lifted up from the earth, will draw all men unto me.
            Joh 12:33  This he said, signifying what death he should die.  </p>
    </div>

    <button class="call-to-action" type="submit">Sign Up!</button>
    <!--This section if for the cards-->
     <div class="container">
       
     <div class="box-1 shadow">
         <img class="card-img" src="https://images.unsplash.com/photo-1442115597578-2d0fb2413734?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJpYmxlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60 alt="">
        <p class="cards">EXPERENICE</p>
     </div>
     <div class="box-2 shadow">
         <img class="card-img" src="https://images.unsplash.com/photo-1524492514790-8310bf594ea4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fGJpYmxlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" srcset="">
        <p class="cards">PATIENCE</p>
     </div>
     <div class="box-3 shadow">
         <img class="card-img" src="https://images.unsplash.com/photo-1502006053053-bd3dd81c9e81?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8YmlibGV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" srcset="">
        <p class="cards">HOPE</p>
    </div>
    </div>
    <div>
<%- include("partials/footer") %>
