<!--Note use js to automate the cards-->
<%- include('partials/header')%>
<link rel="stylesheet" href="css/studies.css">
<p class="title">LATEST STUDIES</P>
    <!--  <hr class="title">-->
      <section>
      <div class="studies">
          <div class="card" style="width: 18rem;">
              <img src="https://thumbs.dreamstime.com/b/biblical-tabernacle-model-altar-burning-24244811.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">The Most Holy Sanctrary<br> by Deontay Jefferson</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="http://localhost:8080/download" class="btn btn-primary download-button">Download</a>
              </div>
          </div>
          <div class="card" style="width: 18rem;">
              <img src="https://images.unsplash.com/photo-1474901963208-accc1ba91782?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y29taW5nJTIwc29vbiUyMHNpZ258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary download-button">Download</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://images.unsplash.com/photo-1526351790682-1000ae194ec5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8Y29taW5nJTIwc29vbiUyMHNpZ258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary download-button">Download</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://images.unsplash.com/photo-1487059509674-389a7b979022?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbWluZyUyMHNvb24lMjBzaWdufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary download-button">Download</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://images.unsplash.com/photo-1559463838-48bef70a54c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary download-button">Download</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://images.unsplash.com/photo-1559463838-48bef70a54c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary download-button">Download</a>
              </div>
              </div>

      </div>
    </section>
  </div>
  <a class="more-studies" href="http://" target="_blank" rel="noopener noreferrer"><p id="content">MORE STUDIES</p></a>
  <%- include("partials/footer") %>