body{
    margin:0;
    width: 100vw;
    font-family: 'Bodoni Moda', serif;
}
.container {
    width: 100%;
    margin-top: -14em;
    margin-bottom: 11em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.invatation{
    width: fit-content;
    margin-left: 17px;
}
.box-1{
    background-color: aqua;
    height: 20em;
    width: 23%;
    margin: 2px 2px 2px 2px;
    z-index: 0;
}
.box-2{
    background-color: red;
    height: 20em;
    width: 23%;
    margin: 2px 2px 2px 7%;
    z-index: 0;
}
.box-3{
    background-color: rgb(35, 202, 57);
    height: 20em;
    width: 23%;
    margin: 2px 2px 2px 7%;
    z-index: 0;
}
.shadow{
    box-shadow: 2px 7px 6px -1px;
}

.cards {
    letter-spacing: 9px;
    width:93%;
    height: 20%;
    position: relative;
    top: -1em;
    background-color: #0b0b0b;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 14px;
    background: linear-gradient(90deg, black,rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.001));
    font-size: 30px;
}
@media (max-width: 640px){
    .container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0em;
  }

  .box-1, .box-2, .box-3{
    margin: 4px 4px 2px 4px;
    width:auto
  }
  footer{
    margin: 0px auto;
  }
  .shadow{
      
    box-shadow: none;
  }
}

.card-img {
    z-index: -1;
    height: 16em;
    width: 100%;
    position: relative;
}

footer {
    height: 50%;
    background-color: black;
    width: 100vw;
   
    margin: 4px 4px 2px 4px;
}
.nav-bar{
    display:flex;
}

.nav-controls{
    display: flex;
    position: relative;
    left: 19%;
}
 
.logo{
    display:flex;}
.cross img{
    bottom: -22px;
    width: 100vw;
    position: relative;
   /*Photo by Jordan McQueen on Unsplash => put on fig caption*/
}
#meeting {
    position: relative;
    bottom: 16.5em;
    color: blanchedalmond;
    left: 1em;
    font-family: 'Bodoni Moda', serif;
    text-shadow: 3px 0px black;
    letter-spacing: 8px;
    width: fit-content;
}       
#bible-caption {
    position: relative;
    bottom: 16em;
    color: blanchedalmond;
    text-shadow: 3px -1px black;
    letter-spacing: 7px;
    padding-left: 4%;
    top: 1em;
    font-size: large;
}
nav{
    position: relative;
    background-color: black;
    height: 5em;
    top: 0em;
    width:100vw;
    z-index: 1;
    position: sticky;
    border-bottom: 2px solid #ff0000b0;
}

.bible-verse {
    height: 12em;
    display: flex;
    background-color: #0000007a;
    color: white;
    width: 36%;
    position: relative;
    left: 60%;
    bottom: 79%;
    border-radius: 2%;
}


.call-to-action {
    position: relative;
    bottom: 29em;
    left: 45%;
    color: white;
    background-color: brown;
    height: 40px;
    width: 147px;
    box-shadow: -1px 4px 7px black;
    font-size: large;

}

.call-to-action-nav {
    position: relative;
    color: white;
    background-color: brown;
    height: 40px;
    width: fit-content;
    box-shadow: -1px 4px 7px black;
    font-size: large;
    top: 23%;
    left: 30%;
}

/*testing nav-bar*/
#header #nav-bar {
    height: 10.5%; /*if you want just words make div height 0*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: blanchedalmond;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 2px solid brown;
    box-shadow: -1px 1px 10px black;

}
div a.nav-link {
border-left: 4px solid gray;
margin: 15px;
display: flex;
-ms-flex-align: center;
padding-left: 20;
font-size: 17px;
}

 div.hove:hover{
background-color: brown;
border-bottom: 2px solid    QAA black

}

a{
text-decoration: none;
color:blanchedalmond;
}

.hove {
align-items: center;

display: flex;
font-family: 'Bodoni Moda', serif;
letter-spacing: 3px;
}
    
#header-img{
    position: relative;
    top: 22%;
}
#menu{
    display: none;
}

@media (max-width: 768px){
    
    #header #nav-bar{

        display: block;
    }
   
    
    #children{
        width: 48%;
    }
    
    .invatation{
        width: fit-content;
        margin-left: 3%;
    }

    .call-to-action-nav {
        display: none;
    }
    #meeting {
        bottom: 4.5em;
        left: 4em;
        letter-spacing: 6px;
    }
/*to animate => margin-top and display none*/
    .hove {
        top: -79px;
        display: flex;
        font-family: 'Bodoni Moda', serif;
        letter-spacing: 3px;
        background-color: #008000d1;
        position: relative;
        margin-top: 19px;
        animation-name: drop-menu-in;
        animation-duration: 1s;
        width:fit-content;
       
    }
    .bible-verse {
        visibility: hidden;
    }
    
    .call-to-action {
        position: relative;
        bottom: 19em;
        left: 45%;
        width: fit-content;  
    }
    #menu {
        height: 86px;
        background-color: brown;
        position: relative;
        left: 87%;
        bottom: 75px;
        display: block;
    }

    .line {
        background: #0b0b0b;
        height: 4px;
        width: 57px;
        z-index: 1;
        margin-top: 12px;
        position: relative;
        left: 2%;
        top: 29px;
    }
    .card-img {
        height: 10em;
      
    }
    
   .cards{
       font-size: 11px;
       height: 23%;
   }
   .box-1, .box-2, .box-3{
       height: 13em;
   }
}

@keyframes drop-menu-in {
    0%   {margin-top: -50;
    opacity: 0%;}
   
    100% {margin-top:19;
    opacity: 100%;}
  }
  


.drop-down-display{
    display:none;
}

.flex{
    display: flex;
}
/*lop-top 1024*/
@media (max-width:1024px){

    #meeting {
        bottom: 11.5em;
        letter-spacing: 4px;
    }
    #bible-caption {
        font-size: 16px;
    }
    .bible-verse{
        bottom: 64%;
    }
    .call-to-action {
        bottom:24em;
        left:44%;
    }
    div a.nav-link {
        font-size: 14px;
    }
    .card-img{
        height: 12em;
    }
    .box-1, .box-2, .box-3{
        height: 15em;
    }
    .cards {
        font-size: 22px;
    }
   
    #header-img{
        top:16%;
    }
}
/*mobile phone size*/
@media (max-width:425px){
    #menu{
        left: 81%;
        bottom: 77px;
    }
    #meeting{
        display: none;
    }

    div a.nav-link {
        font-size: 7px;
    }
    .cross img {
        bottom: -58px
    }

   .container{
        margin-top: -170px;
   }
    #header-img {
        top:15;
    }
    .call-to-action {
        font-size: small;
        height: 21;
        margin-bottom: 17px;
        bottom:14em;
        left:44%
    }
}